body{
  background: black;
}

.container{
  display: flex;
  flex-direction: column;
  border: solid black;
  width: 80%;
  margin-left: 160px;
}

header{
  text-align: center;
  background: #181818;
  color: white;
  margin-bottom: none;
}

h1{
  font-family: serif;
  text-align: center;
  font-size: 80px;
  font-weight: 100;
}

h3{
  font-family:
}

.bottom{
  height: 300px;
  padding-top: 50px;
  background-color: white;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.left{
  padding-right: 120px;
  height: 100%;
  width: 20%;
}
.left h3{
  font-size: 30px;
}

.left ul{
  font-size: 16px;
  text-align: left;
  border-right: 2px solid grey;
}

ul{
  font-family: serif;
  list-style: none;
}

li{
  color: grey;
}

.right{
  padding-right: 10px;
  height: 100%;
  width: 30%;
}

.right h3{

  font-size: 30px;
}

.descript{
  padding-right: 10px;
  color: #66FFCC;
  }
}

.image{
  padding-left: 80px;
  width: 20%;
}
img{
  padding-left: 10px;
  width: 160px;
  border-radius: 80px;
}

p{
  font-family: serif;
  color: grey;
}
